	body{
			padding: 0;
			margin:0;
			background-color: rgb(45,45,34);
			padding-top: 7%;
			padding-bottom: 7%;
			font-family: monospace;
		}
		::-webkit-scrollbar { 
    display: none; 
    }
		.container{
			width: 1200px;
			margin: auto;
			background-color: white;
			height: 100%;
			box-shadow: 0 0 60px black;
		}
		.header{
			background-image:linear-gradient(rgba(30,40,50,0.5),rgba(34,56,45,0.5)),url(images/back01.jpg);
			background-size: cover;
			background-position:center center;
			width: 100%;
			height: 100vh;
		}
		.section{
			width: 100%;
			height: 120vh;
			background-image:linear-gradient(rgba(34,56,45),rgba(45,40,60)),url(images/back01.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			padding-top: 2%;
		}
		h2
		{
			transform: translate(-50%,-50%);
			letter-spacing: 2px;
			color: transparent;
			position: absolute;
			left: 50%;
			top: 10%;
			text-align: center;
font-size: 26px;
		}
		h2:before
		{
			content: attr(data-text);
			position: absolute;
			top: 0
			left:0;
			width:100%;
			
			color: white;
			overflow: hidden;
			border-right: 1px solid black;
			animation: type 10s linear infinite;
			white-space: nowrap;
		}
		@keyframes type{
			0%
			{
				width: 0%;
			}
			50%
			{
				width: 100%;
			}
			100%
			{
				width:0%;
			}
		}
		.left-tab{
			position: absolute;
			top: 10px;
			left: 75px;
			
		}
		.link{
			color: white;
			font-size: 30px;
			
		}
		.link:hover{
			color: #555;
		}
		.right-tab{
			position: absolute;
			right: 0;
			top: 15px;
			padding-right: 70px;
		}
		.quotes{
	overflow: hidden;
	background-color:rgb(34,86,56);
	padding: 30px;
	position: absolute;
	margin-top: 20%;
	left: 0;
	width: 900px;
	height: 20vh;
	border-radius: 0 10px 10px 0;
}
.border{
width: 700px;
margin: auto;
height: 90vh;
border:1px solid  rgb(34,34,45);	
border-radius: 0 60px 0 60px;
background-color: rgb(34,34,45);
box-shadow: 0 0 10px black;
}
.list{
          padding-left: 90px; 
          color: white; 
          font-family: cursive;
          font-size: 14px;
         padding-top: 60px;
          float: left;

		}
.img{
	width: 100px;
	height: 100px;
	position: absolute;
	left:20%; 
}
.vid-container{
			width: 1000px;
			margin: auto;
			padding-top: 20px;
		}
		.h4{
			background-image: linear-gradient(rgba(30,56,34,0.5),rgba(0,0,0,0.9)),url(pic/back05.gif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
			margin-top: 10%;
			height: 90vh;
			box-shadow: 0 0 20px -5px black;
			border-radius: 5px;
		}
		.h5	{
			background-image: linear-gradient(rgba(30,56,34,0.5),rgba(0,0,0,0.9)),url(pic/back03.gif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
			margin-top: 10%;
			height: 90vh;
			box-shadow: 0 0 20px -5px black;
			border-radius: 5px;

		}
		.fonts{
			margin: auto;
			width: 500px;
           text-align: center;
           margin-top: 100px;


		}
		.fa-play{
			color: white;
            padding: 10px;
            border-radius: 60px;
            margin: 10px;
            font-weight: 10;
            font-size: 30px;

		}
		.fa-music{
			color: white;
            background-color: #333;
            padding: 10px;
            border-radius: 60px;
            margin: 10px;
            font-weight: 10;

		}
			
		.fa-thumbs-up{
			color: white;
            background-color: #333;
            padding: 10px;
            border-radius: 60px;
             margin: 10px;
		}
		.fa-thumbs-up:hover{
			color: green;
		}
		.fa-thumbs-down{
			color: white;
            background-color: #333;
            padding: 10px;
            border-radius: 60px;
             margin: 10px;
		}
		.fa-thumbs-down:hover{
			color: red;
		}
		.fa-download{
			 margin: 10px;
			color: white;
            background-color:#333;
            padding: 10px;
            border-radius: 60px;
		}
		.fa-download:hover{
			color: blue;
		}
		.vid{
	width: 700px;
position: absolute;
left: 24%;
margin-top: 50px;
border-radius: 10px;
box-shadow:0 0 30px black;


}

.audio{
	width: 100%;
	height: 80vh;
	background-image: linear-gradient(rgba(30,56,34,0.5),rgba(0,0,0,0.9)),url(pic/back03.gif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 149px;
	 box-shadow: 0 0 30px -10px black;
	
	}
	.pic{
		position: absolute;
left: 24%;
margin-top: 50px;
		height: 60vh;
		width: 700px;
      background-image:url(pic/pic03.jpg);
     background-size: cover;
      border-radius:  10px ;
      box-shadow: 0 0 30px -10px black;

      
	}
	.section1{
		width: 100%;
		height: 100%;
		background-color: rgb(34,45,45);
		padding-bottom: 80px;
	}
	
	
	.section2{
		background-color:white;
		width: 1200px;
		height: 450vh;
		margin:auto;
      
	}

		.left-side2{
			width: 62%;
			height: 300px;
			padding: 10px;
			float: left;
			margin: 10px;
          border:1px solid black;
 border-radius: 10px;


		}
		.right-side2{
			width: 30%;
			height: 300px;
			padding: 10px;
			float: left;
			margin: 10px;
			 border:1px solid black;
 border-radius: 10px;

		}
		.sub-container{
			width: 1200px;
			margin: auto;
			margin-left: 60px;
		}
		
		.title2{
			
			padding: 30px;
           font-size: 50px;
           text-align: center;
           color:rgb(34,54,23);

		}
		
		.section3{
			width: 1200px;
			height: 100vh;
			margin: auto;
			background-color:rgb(45,56,45);
		}

		.left-side0{
			width: 20%;
			height: 300px;
			padding: 10px;
			float: left;
			margin: 10px;
			border:1px solid black;
             border-radius: 10px;


		}
		.right-side0{
			width: 62%;
			height: 300px;
			padding:10px;
			float: left;
			margin: 10px;
			border:1px solid black;
             border-radius: 10px;

		}
		.left-side3{
			width: 20%;
			height: 300px;
			padding: 10px;
			float: left;
			margin: 10px;
			border:1px solid black;
             border-radius: 10px;

		}
		h1{
			font-size: 20px;
			text-align: center;
			padding: 5px;
			color: rgb(34,34,34);
			font-family: monospace;
		}
		.slideshow-container {
  position:relative;
  background:transparent;
 
  color: white;
}

.pause{
	background-image: url(images/button1.png);
	background-size: cover;
	padding: 20px;
}


/* Slides */
.mySlides {
  display: none;
  padding: 50px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: navy;
  font-weight: bold;
  font-size: 20px;
  border-radius: 60px ;
  user-select: none;
 
}
.next {
  position: absolute;
  right: 10pc;
  border-radius: 60px;
}
.prev{
	 position: absolute;
  left: 10pc;
 
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color:navy;
  color: white;
  text-decoration: none;
}

/* The dot/bullet/indicator container */


/* Add a background color to the active dot/circle */

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}
.img-container{
	width: 700px;
	margin: auto;
	background-image: linear-gradient(rgba(40,34,67,0.9),rgba(40,34,67,0.9)),url(images/back4.jpg);
	background-size: cover;
	background-position: center;
	height: 60vh;
	box-shadow: 0 0 10px black;
	border-radius: 60px 0 60px 0;
}
input[type=checkbox] {
	clear: both;
	display: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
	position: absolute;
	z-index: 100;
	overflow: hidden;
	height: 8em;
	width: 8em;
	left: 50pc;
	margin-top: 30px;
	display: block;
	text-align: center;
	line-height: 9em;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	border-radius: 50%;
	
}

input[type="checkbox"] + label:before {
	content: '';
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	top: 0;
	left: 0;
	transform: scale(0);
	-webkit-ransform: scale(0);
}

input[type="checkbox"] + label:after {
	content: '';
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	top: 0;
	left: 0;
	transform: scale(0);
	-webkit-transform: scale(0);
}

input[type="checkbox"]:checked + label svg {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	fill: rgb(220, 72, 127);
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
}


input[type="checkbox"]:checked + label:after {
	-webkit-animation: like-a 0.3s 0.2s forwards;
	-moz-animation: like-a 0.3s 0.2s forwards;
	animation: like-a 0.3s 0.2s forwards;
}

input[type="checkbox"]:checked + label:before {
	-webkit-animation: like-a 0.5s 0s forwards;
	-moz-animation: like-a 0.5s 0s forwards;
	animation: like-a 0.5s 0s forwards;
}

label svg {
	display: inline-flex;
	vertical-align: middle;
	width: 100px;
	fill: rgb(167, 167, 167);
}



a {
  text-decoration: none;
  color: rgb(220, 72, 127);
}

a:hover {
  transition: none;
 
}

@-webkit-keyframes like-a {
100% {
	-webkit-transform:scale(1.03);
	transform:scale(1.03);
	-moz-transform:scale(1.03);
} }
@-moz-keyframes like-a {
100% {
	-webkit-transform:scale(1.03);
	transform:scale(1.03);
	-moz-transform:scale(1.03);
} }
@keyframes like-a {
100% {
	-webkit-transform:scale(1.03);
	transform:scale(1.03);
	-moz-transform:scale(1.03);
} }
.section4{
	width: 100%;
	height: 100vh;
	margin: auto;
	padding-top: 10%;
    background-image:linear-gradient(rgba(4, 21, 40 ,0.9),rgba(4, 21, 40 ,0.9)),url(pic/pic6.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.mas-border{
	width: 700px;
	margin: auto;
	height: 55vh;
	background-color:rgb( 4, 21, 40 ) ;
	border:1px solid rgb(4, 21, 40 );
}

.mess-box{
	margin: 10px;
	width: 50%;
	border-radius: 10px;
	float: left;
	padding-top: 20px;
	
	
}
.like-box{
	margin: 10px;
	width: 35%;
	height: 200px;
	border-radius: 10px;
	float: left;
	margin-top: 75px;
	margin-left: 45px;
	background-color: rgb(34,45,56);

}

.mess{
	width:300px;
	padding: 10px;
	margin: 5px;
	height: 180px;
	margin-left: 10px;
	border-radius: 10px;
	background-color: rgb(34,45,56);
	border: none;
	color: white;
	margin-top: 20px;
	margin-left: 25px;
}
.text1{
	width: 100px;
	height: 100px;
	border-radius: 60px;
	padding: 10px;
	color: white;
	margin: 5px;
	margin-left: 19pc;
	background-color: rgb( 34, 21, 40 );
	border:none;
	margin-top: 20px;
}
.right-quote{
	background-color:rgb(34,56,86);
	padding: 30px;
	position: absolute;
	right: 0;
	width: 900px;
	height: 20vh;
	border-radius:  10px 0 0 10px ;
	margin-top: 20%;
}
.section5{
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(45,40,60,0.5),rgba(34,56,45,0.5)),url(pic/gif1.gif);
	background-repeat: no-repeat;
	background-size: cover;
}
.down-text{
	width: 700px;
	position: absolute;
	margin-top: 53%;
	margin-left: 20%;
}